* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "SegoeUIreg", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #fff;
  color: #350b56;
  position: relative;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background: #ffa5b0;
  border-radius: 5px;
  padding: 15px 45px;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: #ff8291;
    transition: all 0.5s ease;
  }
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: capitalize;
  color: #4e306c;
  margin-bottom: 40px;
}
